/* theme.css */
/* General Styles */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header Styles */
header, .top-bar {
  font-family: 'Libre Baskerville', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* Navigation Styles */
.navigation, nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  transition: color 0.3s;
}

/* Section Styles */
section {
  margin-top: 20px;
}

/* Heading Styles */
h1, h2 {
  font-size: 1.75rem;
  margin: 10px 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #333;
}

/* Content Styles */
.resume-item, .content-item {
  margin-bottom: 15px;
}

.resume-item h3, .content-item h3 {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

/* Theme Switcher Styles */
.theme-switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 24px;
  margin-left: auto;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  content: "🌒";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #555;
}

input:checked + .slider:before {
  content: "🌞";
  transform: translateX(26px);
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.dark-mode nav a {
  color: #f0f0f0;
}

/* Responsive Styles */
@media (min-width: 600px) {
  .name {
    font-size: 2.5rem;
  }

  nav a {
    font-size: 1.2rem;
  }

  h1, h2 {
    font-size: 2rem;
  }

  .resume-item h3, .content-item h3 {
    font-size: 1.5rem;
  }
}
