body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.container,
.top-bar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header,
.top-bar {
  font-family: 'Libre Baskerville', serif;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation,
.contact-info {
  display: flex;
  align-items: center;
}

.name,
.navigation .name {
  font-size: 1.5rem;
  font-weight: 700;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "🌒";
  height: 24px;
  width: 24px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #555;
}

input:checked + .slider:before {
  transform: translateX(26px);
  content: "🌞";
}

.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  font-weight: 400;
  transition: color 0.3s;
}

.dark-mode nav a {
  color: #f0f0f0;
}

section {
  margin-top: 20px;
}

h1, h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
}

p, li {
  font-size: 16px;
  line-height: 1.6;
}

.resume-item {
  margin-bottom: 10px;
}

.resume-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.resume-item p, .resume-item ul {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li:before {
  content: '•';
  margin-right: 5px;
  color: #333;
}

@media (min-width: 600px) {
  .name {
    font-size: 2rem;
  }
}
